<% content_for :account_access do %>
  <%= form_with model: resource, scope: resource_name, url: aypex.aypex_user_session_path, data: { hook: :login }, class: 'row', method: :post do |f| %>
    <%= f.hidden_field :store_id, value: current_store.id %>
    <div class="col-12">
      <div class="form-floating mb-3">
        <%= f.email_field :email, class: 'form-control', placeholder: I18n.t('aypex.auth_devise.email_address'), value: params.dig(:aypex_user, :email), required: true, autofocus: true, autocomplete: "email" %>
        <%= f.label :email, I18n.t('aypex.auth_devise.email_address') %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-floating">
        <%= f.password_field :password, class: 'form-control', placeholder: I18n.t('aypex.auth_devise.password'), required: true, autocomplete: "current-password" %>
        <%= f.label :password, I18n.t('aypex.auth_devise.password') %>
      </div>
    </div>

    <div class="col-12 pt-4 d-flex justify-content-between">
      <%= link_to I18n.t('aypex.auth_devise.forgot_your_password'), aypex.new_aypex_user_password_path if aypex.respond_to?(:new_aypex_user_password_path) %>

      <% if defined?(aypex_signup_path) %>
        <%= link_to I18n.t('aypex.auth_devise.need_an_account'), aypex_signup_path %>
      <% end %>
    </div>

    <div class="col-12 pt-4 d-flex justify-content-between">
      <%= f.submit I18n.t('aypex.auth_devise.sign_in'), class: 'btn btn-primary w-100' %>
    </div>

    <div class="col-12 ">
      <div class="position-relative mt-4">
        <div class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center" aria-hidden="true">
          <div class="w-100 border-top"></div>
        </div>

        <div class="position-relative d-flex justify-content-center">
          <small class="px-2 bg-white text-muted font-medium">
            <%= I18n.t("aypex.auth_devise.or") %>
          </small>
        </div>
      </div>
    </div>

    <div class="col-12 pt-4 text-center">
      <% if defined?(aypex.root_path) %>
        <%= link_to I18n.t('aypex.auth_devise.return_to_store'), aypex.root_path %>
      <% end %>
    </div>

  <% end %>
<% end %>

<% content_for :auth_footer do %>
  <small class="text-muted">By signing up you agree to our terms of service and privacy policy.</small>
<% end %>

<%= render partial: 'aypex/auth_devise/shared/form_container', locals: { accounts_title: I18n.t('aypex.auth_devise.sign_in_to_your_account')}  %>
