<% content_for :company_details do %>
  <%= I18n.t('aypex.auth_devise.enter_your_email_and_we_will_send_a_reset_link') %>
<% end %>

<% content_for :account_access do %>
  <%= form_with model: resource, scope: resource_name, url: aypex.aypex_user_password_path, data: { hook: :reset_password }, class: 'row', method: :post do |f| %>
    <div class="col-12">
      <div class="form-floating mb-3">
        <%= f.email_field :email, class: 'form-control', placeholder: I18n.t('aypex.auth_devise.email'), value: params.dig(:aypex_user, :email), required: true, autofocus: true, autocomplete: "email" %>
        <%= f.label :email, I18n.t('aypex.auth_devise.email') %>
      </div>
    </div>

    <div class="col">
      <%= f.submit I18n.t('aypex.auth_devise.reset_password'), class: 'btn btn-primary w-100' %>
    </div>
  <% end %>

  <div class="row mt-5 text-center">
    <div class="col-12">
      <% if defined?(aypex_login_path) %>
        <%= I18n.t('aypex.auth_devise.go_back_to') %> <%= link_to I18n.t('aypex.auth_devise.sign_in'), aypex_login_path %>
      <% end %>

      <% if defined?(aypex.root_path) %>
        <%= I18n.t("aypex.auth_devise.or") %>
        <%= link_to I18n.t('aypex.auth_devise.return_to_store'), aypex.root_path %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'aypex/auth_devise/shared/form_container', locals: { accounts_title: I18n.t('aypex.auth_devise.forgot_password') } %>
