<% content_for :account_access do %>
  <%= form_with model: resource, scope: resource_name, url: aypex.aypex_user_password_path, data: { hook: :reset_password }, class: 'row', method: :post do |f| %>
    <div class="col-12">
      <div class="form-floating mb-4">
        <%= f.email_field :email, class: 'form-control', placeholder: I18n.t('aypex.auth_devise.your_email'), value: params.dig(:aypex_user, :email), required: true, autofocus: true, autocomplete: "email" %>
        <%= f.label :email, I18n.t('aypex.auth_devise.your_email') %>
      </div>
    </div>

    <div class="col">
      <%= f.submit I18n.t('aypex.auth_devise.send_reset_instructions'), class: 'btn btn-primary w-100' %>
    </div>
  <% end %>

  <div class="row pt-4">
    <div class="col-12 d-flex justify-content-between">
      <% if defined?(aypex_login_path) %>
        <%= link_to I18n.t('aypex.auth_devise.return_to_sign_in'), aypex_login_path %>
      <% end %>

      <% if defined?(aypex.root_path) %>
        <%= link_to I18n.t('aypex.auth_devise.return_to_store'), aypex.root_path %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: 'aypex/auth_devise/shared/form_container', locals: {
  accounts_title: I18n.t('aypex.auth_devise.reset_your_password'),
  accounts_message: I18n.t('aypex.auth_devise.enter_the_email_associated_with_your_account_and_we_ll_send_you_password_reset_instructions') } %>
