<title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%== og_meta_data_tags %>
<%== meta_data_tags %>
<%== meta_robots %>
<%= canonical_tag(current_store.url) %>

<%= favicon_link_tag(aypex_png_icon_path(width: 48, height: 48), sizes: "48x48") if aypex_png_icon_path %>
<%= favicon_link_tag(aypex_svg_icon_path, sizes: "any", type: "image/svg+xml") if aypex_svg_icon_path %>
<%= favicon_link_tag(aypex_png_icon_path(width: 180, height: 180), type: "image/png", rel: "apple-touch-icon") if aypex_png_icon_path %>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'aypex/auth_devise/application.min', media: 'screen', data: { turbo_track: 'reload' } %>
<%= javascript_include_tag "aypex/auth_devise/application.min", data: { turbo_track: "reload" }, async: true %>

<%= yield :head %>
